<div class="page-holder w-100 d-flex flex-wrap " style="background: #ECECEC;">
      <div class="container-fluid " >



        <section class="py-5 ">
          <div class="row">
            <div class="col-xl-12 col-lg-12 mb-4 mb-xl-0">
                      <!-- Form Elements -->
                      <div class="col-lg-12 mb-5">
                            <div class="row">
                              <div class="col-xl-3 col-lg-3  mb-xl-0">
                            <h3 class="h6 text-uppercase pl-5"><img src="./../../../assets/img/user_blue.png" alt="" style="max-width: 10rem;" class="img-fluid rounded-circle shadow"></h3>
                            </div>

                            <div class="col-xl-9 col-lg-9  mb-xl-0 pt-5">

                              <div class="card-body ">
                                <form class="form-horizontal">
                                  <label class="col-md- form-control-label" style="color: black; " ><b>Nome:</b> </label><br>
                                  <div class="form-group row" style="">
                                    <input type="text" name="nome"  class="col-md-5 form-control-label" style="color: #040303" value="JULIANA SILVA ROCHA AGUIAR"/>
                                  </div>
                                  <label class="col-md- form-control-label" style="color: black; " ><b>Cargo:</b> </label><br>
                                  <div class="form-group row" style="">
                                    <input type="text" name="cargo"  class="col-md-5 form-control-label" style="color: #040303" value="NEUROPSICÓLOGA"/>
                                  </div>
                                  <label class="col-md- form-control-label" style="color: black;" ><b>email:</b> </label><br>
                                  <div class="form-group row" style="">
                                    <input type="text" name="email"  class="col-md-5 form-control-label" style="color: #040303" value="julianasilvarocha@gmail.com"/>
                                  </div>
                                  <label class="col-md- form-control-label" style="color: black;" ><b>Data de Nascimento:</b> </label><br>
                                  <div class="form-group row" style="">
                                    <input type="date" name="data-nascimento"  class="col-md-3 form-control-label" style="color: #040303" value="1990-08-18"/>
                                  </div>
                                  <label class="col-md- form-control-label" style="color: black; " ><b>CRP:</b> </label><br>
                                  <div class="form-group row" style="">
                                    <input type="text" name="crp"  class="col-md-3 form-control-label" style="color: #040303" value="01/16115"/>
                                  </div>
                                  <label class="col-md- form-control-label" style="color: black; " ><b>Telefone:</b> </label><br>
                                  <div class="form-group row" style="">
                                    <input type="text" name="telefone"  class="col-md-3 form-control-label" style="color: #040303" value="(61) 9 9655-0710"/>
                                  </div>
                                  <div class="line"></div>
                                  <div class="col-md- form-control-label">
                                    <div class="col-md-6 ">
                                      <a href="profileview" class="btn btn-success">Salvar</a> |
                                      <a href="" class="btn btn-info">Voltar</a>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>


                        </div>
                      </div>

                  </section>
                </div>


      <footer class="footer shadow align-self-end py-3 px-xl-5 w-100" style="background:#EFEDE6">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 text-center text-md-left text-black">
              <p class="mb-2 mb-md-0">MINDSY &copy; 2019</p>
            </div>
            <div class="col-md-6 text-center text-md-right text-black-400">
              <p class="mb-0">Design by <a href="https://fga-eps-mds.github.io/2019.1-MindsY/docs.html" class="external text-gray-400">Mindsy Team</a></p>
              <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
          </div>
        </div>
      </footer>
</div>
