<div class="page-holder  d-flex flex-wrap" style="  width:100%; background: #ECECEC">
      <div class="container-fluid ">



        <section class="py-5 ">
          <div class="row">
            <div class="col-xl-12 col-lg-6 mb-4 ">
                      <!-- Form Elements -->
                      <div class="col-lg-12 mb-5">
                            <div class="row">
                              <div class="col-xl-3 col-lg-3  mb-xl-0">
                                <h3 class="h6 text-uppercase pl-5"><img src="./../../../assets/img/user_blue.png" alt="" style="max-width: 10rem;" class="img-fluid rounded-circle shadow"></h3>
                              </div>

                              <div class="col-xl-9 col-lg-9  mb-xl-0 pt-5">
                                <h3 class="h6 text-uppercase "><span class="" style="border-bottom: 3px solid gray; font-size: 1.5rem">Juliana Silva Rocha Aguiar</span></h3>
                                <h3 class="h6 text-uppercase  " style="color: gray"><span>Neuropsicóloga</span></h3>
                              </div>
                          </div>
                        </div>

                          <div class="card-body ">
                            <form class="form-horizontal">
                              <div class="form-group row" style="margin-left: 25%;">
                                <label class="col-md- form-control-label" style="color: black" ><b>CRP:</b> </label>
                                <label class="col-md-6 form-control-label" style="color: #040303" >01/16115</label>
                              </div>
                              <div class="form-group row" style="margin-left: 25%;">
                                <label class="col-md- form-control-label" style="color: black" ><b>email:</b> </label>
                                <label class="col-md-6 form-control-label" style="color: #040303" >julianasilvarocha@gmail.com</label>
                              </div>
                              <div class="form-group row" style="margin-left: 25%;">
                                <label class="col-md- form-control-label" style="color: black" ><b>Data de Nascimento:</b> </label>
                                <label class="col-md-6 form-control-label" style="color: #040303" >18/08/1990</label>
                              </div>
                              <div class="form-group row" style="margin-left: 25%;">
                                <label class="col-md- form-control-label" style="color: black" ><b>Telefone:</b> </label>
                                <label class="col-md-6 form-control-label" style="color: #040303" >(61) 9 9655-0710</label>
                              </div>
                              <div class="line"></div>
                              <div class="form-group row">
                                <div class="col-md-9 ml-auto">
                                  <a href="editprofile" class="btn btn-warning">Editar Perfil</a>
                                  <a href="" class="btn btn-info">Voltar</a>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>

                  </section>
                </div>


      <footer class="footer shadow align-self-end py-3 px-xl-5 " style="width:100%; background:#EFEDE6">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 text-center text-md-left text-black">
              <p class="mb-2 mb-md-0">MINDSY &copy; 2019</p>
            </div>
            <div class="col-md-6 text-center text-md-right text-black-400">
              <p class="mb-0">Design by <a href="https://fga-eps-mds.github.io/2019.1-MindsY/docs.html" class="external text-gray-400">Mindsy Team</a></p>
              <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
          </div>
        </div>
      </footer>
</div>
