<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Cadastro de Paciente</title>
   
</head>
<body>
  <div id="cadastro-Box">
    <div class="center-box">
      <strong>
          <h1>Cadastro de Paciente</h1>
        </strong>
      <strong>
          <h2>Insira suas informações:</h2>
      </strong>


      <div id="coluna-1">
        <input  type="text" name="nome" placeholder="Nome:"/>
        <input  type="text" name="email" placeholder="E-mail:"/>
        <input  type="text" name="number" placeholder="Número:">
        <input  type="text" name="dt_nascimento" placeholder="Data de nascimento:">
        <input  type="text" name="scholarity" placeholder="Escolaridade:">
        <input  type="text" name="Observation" placeholder="Observação:">

          <input type="submit" name="save-button" value="Salvar"/>
      </div>
      <div id="coluna-2">
        <input  type="text"  name="telefone" placeholder="Telefone:"/>
        <input  type="text"  name="manual_domain" placeholder="Domínio Manual:"/>
        <input  type="text" name="registry_number_patient" placeholder="CPF:"/>
        <input  type="text" name="registry_number_accountable" placeholder="CPF do Responsável:"/>
        <input  type="text" name="kinship_degree" placeholder="Grau de Parentesco:"/>

        <input type="submit" name="cancel-button" value="Cancelar"/>
      </div>




      <div class="clearfix"></div>


    </div>

  </div>

</body>
</html>
