
<head>
      <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

</head>
<div class="page-holder w-100 d-flex flex-wrap " style="background: #ECECEC ">
  <div class="container-fluid px-xl-5">
     <section class="py-2 ">
        <div class="row">
            <div class="col-xl-12 col-lg-12 mb-4 mb-xl-0">
              <!-- Form Elements -->
              <div class="col-lg-12 mb-5">
                 <div class="col-xl-7 col-lg-7  mb-xl-0 pt-5">
                    <!-- <h3 class="h6 text-uppercase pl-5"><img src="./../../../assets/img/user_blue.png" alt="" style="max-width: 10rem;float: right" class="img-fluid rounded-circle shadow"></h3>                    -->
                    <h3 class="h6 text-uppercase pt-1"><span class="" style="border-bottom: 3px solid gray; font-size: 1.5rem">-- Pacientes em atendimento --</span></h3>
                  </div>
              </div>
            </div>

            <!-- TABELA FEITA NO ARQUIVO JS -->

            <!-- FIM TABELA -->
            <div class="col-xl-12 col-lg-12 ">
               <!--<table class="table" id="myTable">
                  
                     <thead style="background-color: #379392">
                           <tr>
                              <th scope="col">NOME COMPLETO</th>
                              <th scope="col">CPF</th>
                              <th scope="col">TELEFONE</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let patient of patients">
                              <td *ngFor="let col of columns" scope="row" >
                                 {{patient[col]}}
                              </td>
                           </tr>
                           <tr *ngFor="let patient of patients">
                              <td>
                                 {{patient.name}}
                              </td>
                           </tr>
                        </tbody>
                  
               </table> -->

               <table #dataTable class="display" style="width:100%">
                     <thead>
                         <tr>
                             <th>Name</th>
                             <th>Position</th>
                             <th>Office</th>
                             <th>Age</th>
                             <th>Start date</th>
                             <th>Salary</th>
                         </tr>
                     </thead>
                     <tbody>

                        
                        
                         <tr>
                             <td>Tiger Nixon</td>
                             <td>System Architect</td>
                             <td>Edinburgh</td>
                             <td>61</td>
                             <td>2011/04/25</td>
                             <td>$320,800</td>
                         </tr>
                         <tr>
                             <td>Garrett Winters</td>
                             <td>Accountant</td>
                             <td>Tokyo</td>
                             <td>63</td>
                             <td>2011/07/25</td>
                             <td>$170,750</td>
                         </tr>
                         <tr>
                             <td>Ashton Cox</td>
                             <td>Junior Technical Author</td>
                             <td>San Francisco</td>
                             <td>66</td>
                             <td>2009/01/12</td>
                             <td>$86,000</td>
                         </tr>
                         <tr>
                             <td>Cedric Kelly</td>
                             <td>Senior Javascript Developer</td>
                             <td>Edinburgh</td>
                             <td>22</td>
                             <td>2012/03/29</td>
                             <td>$433,060</td>
                         </tr>
                         <tr>
                             <td>Airi Satou</td>
                             <td>Accountant</td>
                             <td>Tokyo</td>
                             <td>33</td>
                             <td>2008/11/28</td>
                             <td>$162,700</td>
                         </tr>
                         <tr>
                             <td>Brielle Williamson</td>
                             <td>Integration Specialist</td>
                             <td>New York</td>
                             <td>61</td>
                             <td>2012/12/02</td>
                             <td>$372,000</td>
                         </tr>
                         <tr>
                             <td>Herrod Chandler</td>
                             <td>Sales Assistant</td>
                             <td>San Francisco</td>
                             <td>59</td>
                             <td>2012/08/06</td>
                             <td>$137,500</td>
                         </tr>
                         <tr>
                             <td>Rhona Davidson</td>
                             <td>Integration Specialist</td>
                             <td>Tokyo</td>
                             <td>55</td>
                             <td>2010/10/14</td>
                             <td>$327,900</td>
                         </tr>
                         <tr>
                             <td>Colleen Hurst</td>
                             <td>Javascript Developer</td>
                             <td>San Francisco</td>
                             <td>39</td>
                             <td>2009/09/15</td>
                             <td>$205,500</td>
                         </tr>
                         
                     </tbody>
                     <tfoot>
                         <tr>
                             <th>Name</th>
                             <th>Position</th>
                             <th>Office</th>
                             <th>Age</th>
                             <th>Start date</th>
                             <th>Salary</th>
                         </tr>
                     </tfoot>
                 </table>
                 
            </div>
         </div>
      </section>
   </div>

  <footer class="footer shadow align-self-end py-3 px-xl-5 w-100" style="background:#EFEDE6">
     <div class="container-fluid">
        <div class="row">
           <div class="col-md-6 text-center text-md-left text-black">
              <p class="mb-2 mb-md-0">MINDSY &copy; 2019</p>
           </div>
           <div class="col-md-6 text-center text-md-right text-black-400">
              <p class="mb-0">Design by <a href="https://fga-eps-mds.github.io/2019.1-MindsY/docs.html" class="external text-blue-400">Mindsy Team</a></p>
              <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
           </div>
        </div>
     </div>
  </footer>
</div>

<script>
   $(document).ready(function() {
    $('#example').DataTable();
   } );
</script>