<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Login</title>
</head>
<body>
  

  <div id="Login-box">
    <div class="right-box">
      <h1><strong>Login</strong></h1>

      <p style="width:100%">
        Você já possui uma conta?
         <a [routerLink]="['/create-psychologist']"><strong>Crie uma conta</strong></a>
        agora e aproveite o melhor da MindsY
      </p>
      
      <input [(ngModel)]="loginObject.crp" type="text" name="crp" placeholder="CRP"/>
      <input [(ngModel)]="loginObject.password" type="password" name="senha" placeholder="Senha"/>

      <a class="forgotPassword-link">
        Esqueceu a senha?
    </a>

    <button (click)="login()">Login</button>
    </div>

    <div class="left-box">
    </div>
    
  </div>

</body>
</html>
