<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Sign up</title>
</head>
<body>
  <div id="signup-Box">
    <div class="center-box">
      <strong>
          <h1>Sign up</h1>
      </strong>      
      <strong>
          <h2>Insira suas informações</h2>
      </strong>      


      <div id="coluna-1">
        <input [(ngModel)]="psychologist.name" type="text" name="nome" placeholder="Nome"/>
        <input [(ngModel)]="psychologist.crp" type="text" name="crp" placeholder="CRP"/>
        <input [(ngModel)]="psychologist.date_of_birth" type="text" name="dt_nascimento" placeholder="Data de nascimento">
        <input [(ngModel)]="psychologist.password" type="password" name="senha" placeholder="Senha"/>
      
      </div>
      <div id="coluna-2">
        <input [(ngModel)]="psychologist.number" type="text"  name="telefone" placeholder="Telefone"/>
        <input [(ngModel)]="psychologist.telephone_type" type="text"  name="telefone" placeholder="Tipo do Telefone"/>
        <input [(ngModel)]="psychologist.email" type="text" name="email" placeholder="Email"/>
        <input type="password" name="confirmar_senha" placeholder="Confirmar senha"/>
      </div>      

      <button (click)="register()">Cadastrar</button>
      
      <div class="clearfix"></div>
      
      
    </div>

  </div>

</body>
</html>


