<div class="page-holder w-100 d-flex flex-wrap " style="background: #ECECEC ">
        <div class="container-fluid px-xl-5">

          <section class="py-5 ">
            <div class="row">
              <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow p-4  d-flex align-items-center justify-content-between hvr-fade-primary" style="border-radius: 9px; height:150px;">
                  <div class=" mr-2 " style="border: 2.5px solid rgb(100, 93.3, 2.4,0.5); height: 100%; border-radius:100px">
                  </div>
                  <div class="flex-grow-1 d-flex align-items-center">

                    <div class="text">
                      <h5 class=" pl-2" style = "color:rgb(100, 93.3, 2.4,0.5);font-size:1.5rem"><span class="count">345</span><i class="fas fa-file-alt ml-5" style="color:rgb(100, 88.2, 0,1)"></i></h5>
                      <div class= "w-75 mt-3" style="border:1px solid rgb(0,0,0,0.3)"></div>
                      <strong class="mb-0">NÚMERO DE TESTE(S) CONCLUÍDO(S)</strong>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow p-4  d-flex align-items-center justify-content-between hvr-fade-primary" style="border-radius: 9px; height:150px;">
                  <div class=" mr-2 " style="border: 2.5px solid rgb(3.1, 69.8, 79.2,0.5); height: 100%; border-radius:100px"></div>
                  <div class="flex-grow-1 d-flex align-items-center">

                    <div class="text">
                      <h5 class=" pl-2" style = "color:rgb(3.1, 69.8, 79.2,0.5);font-size:1.5rem"><span class="count">{{ patientListNumber }}</span><i class="fas fa-users ml-5" style="color:rgb(41.6, 92.2, 88.6,1)"></i></h5>
                      <div class= "w-75 mt-3" style="border:1px solid rgb(0,0,0,0.3)"></div>
                      <strong class="mb-0">PACIENTE(S) CONSULTADO(S)</strong>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow p-4  d-flex align-items-center justify-content-between hvr-fade-primary" style="border-radius: 9px; height:150px;">
                  <div class=" mr-2 " style="border: 2.5px solid rgb(100, 93.3, 2.4,0.5); height: 100%; border-radius:100px"></div>
                  <div class="flex-grow-1 d-flex align-items-center">

                    <div class="text">
                      <h5 class=" pl-2" style = "color:rgb(100, 93.3, 2.4,0.5);font-size:1.5rem"><span class="count">39</span> ?<i class="fas fa-question-circle ml-5" style="color:rgb(100, 88.2, 0,1)"></i></h5>
                      <div class= "w-75 mt-3" style="border:1px solid rgb(0,0,0,0.3)"></div>
                      <strong class="mb-0">INFORMAÇÃO EXTRA AQUI</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow p-4  d-flex align-items-center justify-content-between hvr-fade-primary" style="border-radius: 9px; height:150px;">
                  <div class=" mr-2 " style="border: 2.5px solid rgb(100, 93.3, 2.4,0.5); height: 100%; border-radius:100px"></div>
                  <div class="flex-grow-1 d-flex align-items-center">

                    <div class="text">
                      <h5 class=" pl-2" style = "color:rgb(100, 93.3, 2.4,0.5);font-size:1.5rem"><span class="count">39</span> ?<i class="fas fa-question-circle ml-5" style="color:rgb(100, 88.2, 0,1)"></i></h5>
                      <div class= "w-75 mt-3" style="border:1px solid rgb(0,0,0,0.3)"></div>
                      <strong class="mb-0">INFORMAÇÃO EXTRA AQUI</strong>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </section>


          <!--ROUNDY SECTION -->
          <section class="pb-5">
            <div class="row pl-1" style="height: 200px">



              <div class="col-lg-3  pl-lg-5 pt-4" >

                <div [routerLink]="['/list-patients']" class="bg-white shadow   d-flex wrapper  justify-content-between  hvr-circle" style="border-radius: 100%; height:80%; width:75%;">
                  <img src="./../../../assets/img/contractB.png" style="width:100%; height: 100%; ">
                  <img src="./../../../assets/img/plus.png" style="height:22%;width:22%;margin-top:70%;margin-left:-70%">
                  <div class="tooltip">Clique Para Visualizar a lista de pacientes </div>
                </div>
              </div>

              <div class="col-lg-3  pl-lg-5 pt-4" >
                <div [routerLink]="['/create-patient']" class="bg-white shadow d-flex r wrapper justify-content-between  hvr-circle" style="border-radius: 100%; height:80%; width: 75%">
                  <img src="./../../../assets/img/user_blue_shiny.png" style="width:100%; height: 100%">
                  <img src="./../../../assets/img/plus.png" style="height:20%;width:20%;margin-top:70%;margin-left:-70%">
                  <div class="tooltip">Clique Para gerar um novo Paciente</div>
                </div>
              </div>

              <div class="col-lg-6  pl-lg-5" >

                  <div class="card" style="height:200px">
                    <div class="card-header" style="height:50px;border-radius: 15px">
                      <h2 class="h6 text-uppercase ">Testes x Pacientes</h2>
                    </div>


                        <canvas id="lineChartTest" class=" pb-5"style="padding-left:10px;height:100%"></canvas>

                  </div>

              </div>




            </div>
          </section>


        </div>
        <footer class="footer shadow align-self-end py-3 px-xl-5 w-100" style="background:#EFEDE6">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 text-center text-md-left text-black">
                <p class="mb-2 mb-md-0">MINDSY &copy; 2019</p>
              </div>
              <div class="col-md-6 text-center text-md-right text-black-400">
                <p class="mb-0">Design by <a href="https://fga-eps-mds.github.io/2019.1-MindsY/docs.html" class="external text-gray-400">Mindsy Team</a></p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
              </div>
            </div>
          </div>
        </footer>
      </div>
