

<app-navbar style="position:fixed; width: 100%; z-index:10"></app-navbar>
<div class="d-flex align-items-stretch " style="width:100%; height: 100%" >
  <div id="sidebar" class="sidebar py-3" style="position:fixed; height: 100%;;margin-top:75px;background: #FFFFFF">
    <div class=" text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MINDSY</div>
    <ul class="sidebar-menu list-unstyled">
      <li class="sidebar-list-item">
        <a [routerLink]="['/']"  class="sidebar-link text-muted active">
          <i class="o-home-1 mr-3 "></i>
          <span>Home</span></a>
      </li>
      <li class="sidebar-list-item">
        <a [routerLink]="['/']"  data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted">
          <i class="o-medical-chart-1 mr-3 "></i>
          <span>Pacientes</span>

        </a>
        <div id="pages" class="collapse">
          <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
            <li class="sidebar-list-item">
              <a [routerLink]="['/list-patients']"  class="sidebar-link text-muted pl-lg-4">Geral</a>
            </li>
            <li class="sidebar-list-item">
              <a data-toggle="collapse" data-target="#newpacient" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted pl-lg-4">
                <span>Novo</span>
              </a>
              <div id="newpacient" class="collapse">
                <ul class="sidebar-menu list-unstyled border-left border-green border-thick">
                  <li class="sidebar-list-item">
                    <a [routerLink]="['/']" class="sidebar-link text-muted pl-lg-5">Teste</a>
                  </li>
                  <li class="sidebar-list-item">
                    <a [routerLink]="['/create-patient']" class="sidebar-link text-muted pl-lg-5">Paciente</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="sidebar-list-item">
        <a [routerLink]="['/']"  class="sidebar-link text-muted">
          <i class="o-statistic-1 mr-3 "></i>
          <span>Estatísticas Gerais</span>
        </a>
      </li>

    </ul>
    <div class=" text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">INFORMAÇÕES EXTRAS</div>
    <ul class="sidebar-menu list-unstyled">
      <li class="sidebar-list-item">
        <a [routerLink]="['/']"  class="sidebar-link text-muted">
          <i class="o-database-1 mr-3 " ></i>
          <span>Procurar Psicólogo</span>
        </a>
      </li>
    </ul>
    
  </div>

  <div style="width: 100%; z-index: 0;margin-left:230px;margin-top:80px">
    <router-outlet></router-outlet>
  </div>
</div>
