<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Sign up</title>
</head>
<body>
  <div id="signup-Box">
    <div class="center-box">
      <strong>
          <h1>Sign up</h1>
      </strong>      
      <strong>
          <h2>Insira suas informações</h2>
      </strong>      


      <div id="coluna-1">
        <input type="text" name="primeiro_nome" placeholder="Primeiro nome"/>
        <input type="text" name="crp" placeholder="CRP"/>
        <input type="text" name="dt_nascimento" placeholder="Data de nascimento">
        <input type="password" name="senha" placeholder="Senha"/>
      
      </div>
      <div id="coluna-2">
        <input type="text" name="ultimo_nome" placeholder="Último nome"/>
        <input type="text"  name="telefone" placeholder="Telefone"/>
        <input type="text" name="email" placeholder="Email"/>
        <input type="password" name="confirmar_senha" placeholder="Confirmar senha"/>
        
      </div>      

      <button (click)="register()">Entrar</button>
      
      <div class="clearfix"></div>
      
      
    </div>

  </div>

</body>
</html>


