body {
    margin: 0;
    padding: 0;
    background: #efefef;
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;
    
  
  }

 #Signup-box {
    text-align: center;
    position: relative;
    margin: 5% auto;
    height: 500px;
    width: 500px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
      
} 

.center-box {
    margin-left: -250px;
    margin-right:-280px;
    margin-top: -250px;
    position: absolute;
    top: 50%;
    left: 40%;
    box-sizing: border-box;
    padding: 40px;
    width: 800px;
    height: 400px;
    column-gap: 100px;
    color: gray;
    background-color: #efefef ; 
    border-radius: 20px; 
}

#coluna-1 { 
    text-align: left;
    width:30%; 
    float:left;
    margin-right: 12px;
    padding: 6px;
}

#coluna-2 { 
    text-align: right;
    width:30%; 
    float:right;
    margin-left: 12px;
    padding: 6px;
} 

.clearfix { 
    clear:both; }

h1 {
    text-align: center;
    margin: 0 0 20px 0;
    font-weight: 300;;
    font-size: 28px;
}


input[type="text"],
input[type="password"]
input[type="password"]
input[type="text"]
input[type="email"]
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;  
    background: #efefef;
}

input[type="submit"] {
    text-align: center;
    margin-bottom: 50px;
    width: 120px;
    height: 32px;
    background: #0675B7;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer; 
    margin-left: 300px;
    float: left; 
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: #ff6722;
    transition: 0.2s ease;
}

