<!-- navbar-->
<header class="header">
  <nav class="navbar navbar-expand-lg pr-4 shadow" style="background: white">
      <a href="#" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead">
          <a [routerLink]="['/']" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead responsive-navSize ">
            <img style="margin-left:-10px;max-width:9rem;" src="https://raw.githubusercontent.com/fga-eps-mds/2019.1-MindsY/develop/img/mindsybanner.png">
          </a>
      </a>
      <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">

          <li class="nav-item dropdown ml-auto">
            <a id="userInfo"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
              <img src="./../../../assets/img/user_blue.png" alt="" style="max-width: 2.5rem;" class="img-fluid rounded-circle shadow">
            </a>
            <div aria-labelledby="userInfo" class="dropdown-menu"><a href="#" class="dropdown-item"><strong class="d-block text-uppercase headings-font-family"></strong><small></small>
            </a>
              <div class="dropdown-divider"></div><a href="profileview" class="dropdown-item">Ver Perfil</a>
              <a href="#" class="dropdown-item">Editar Perfil</a>
              <div class="dropdown-divider"></div>
              <a href="login.html" class="dropdown-item">Logout</a>
            </div>
          </li>
        </ul>
  </nav>
</header>
