body {
  background-image: url('../../../../img/quebra_cabeca.jpg');
  background-repeat: round;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #777;
  font-family: sans-serif;
  font-weight: 300;

  
  }

#Login-box {
    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.right-box {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;  
    border-radius: 20px;
}
 
h1 {
    margin: 0 0 20px 0;
    font-weight: 300;;
    font-size: 28px;
}

input[type="text"],
input[type="password"]
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;  
}

input[type="submit"] {
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #0675B7;
    border: none;
    border-radius: 1px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;  
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: #ff6722;
    transition: 0.2s ease;
}

.left-box {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 250px;
    height: 400px;
    background-image: url('../../../../img/cerebro.jpg');
    background-size: cover;
    background-position: center;  
    border-radius: 20px;
}
  