<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Login</title>
</head>
<body>
  

  <div id="Login-box">
    <div class="right-box">
      <h1><strong>Login</strong></h1>

      <p style="width:100%">
        Você já possui uma conta?
         <strong>Crie uma conta</strong>
        agora e aproveite o melhor da MindsY
      </p>
      
      <input type="text" name="crp" placeholder="CRP:"/>
      <input type="password" name="password" placeholder="Senha:"/>

      <a class="forgotPassword-link">
        Esqueceu a senha?
    </a>

      <input type="submit" name="signin-button" value="Login" />

    </div>

    

        <div class="left-box">


    </div>
    
  </div>

</body>
</html>
